# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Курсы ТестированиеПО\GIT\ShishQA-Pudnik\ShishQA-Pudnik\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
